.pricelabel {
    color: #d6f5d5;
    font-family: "Bokor", system-ui;
    filter:drop-shadow(3px 3px 1px var(--black));
    font-size: 3rem;
    margin:16px;
    padding:0px 32px 0px 16px;
    transform: rotate(-15deg);
    display:inline-block;
    background-color: var(--dark);
    text-shadow:2px 2px 2px var(--dark);
    height: 3rem;
}

.priceSection {
    max-width: 90%;
    background: var(--black);
    border-radius: 16px;
    display: flex;
    /*flex-wrap: wrap;*/
    align-items: center;
    justify-content: flex-end;
    margin:8px;
}

.dollarSign {
    color: var(--pale);
    font-size: 3.5rem;
    position: absolute;
    top: -5px;
}

.commissionExample {
    display: flex;
    flex-direction: column;
    background: var(--dark);
    border-radius: 16px;
    padding: 4px;
    margin: 8px;
}

.imageExample {
    max-width: 100%;
    max-height: 80%;
    aspect-ratio: auto;
    border-radius: 16px;
    display:inline-block;
}

.commissionType {
    font-family: "tiny5", system-ui;
    text-shadow:2px 2px 2px var(--black);
    margin:0px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}