.email-button {
    width: 120px;
}

.navTab {
    font-size: 2rem;
    padding: 4px 16px;
    color: var(--black);
    margin: 16px 16px 0 0px;
    border-radius: 16px 16px 0 0;
    border-image: linear-gradient(to top, var(--black) 0%, rgba(0, 19, 26, 0) 2%) 1;
    border-width: 4px;
    border-style: solid none solid none;
}

.navTab-active {
    background: var(--dark);
    border-style: none;
    color: var(--white);
}

.navbar {
    display: flex;
    justify-content: center;
}

.roundCard {
    display:inline-flex;
    max-width: 1030px;
    justify-content: center;
    background: var(--dark);
    padding: 8px;
    margin: 0px 8px 0px 8px;
}

.uncapped-width{
    max-width: none;
}

.footer {
    width: 100%;
    display: flex;
    background-color: var(--dark);
    /*margin-top: 23px;*/
    justify-content: flex-end;
    align-items: start;
    /*position: -webkit-fixed;*/
    position: fixed;
    left: 0;
    bottom:0px;
    /*height: ;*/
    /*width: 100%;*/
    box-shadow: 0px -8px 16px var(--black);
}

.footerSocials {
    background-color: var(--dark);
    height: 64px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-grow: 1;
}

.social-link {
    padding: min(10px, calc((100vw - 125px)/50));
    margin-top: calc(-1 * min(7vh, 7vw));
    margin-right: 3vw;
    overflow: hidden;
}

.discord-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 8px;
    padding-right: 8px;
    flex-shrink: 0;
}

.social-icon {
    height: min(15vh, 15vw, 100px);
    width: min(15vh, 15vw, 100px);
    display: block;
    filter: drop-shadow(0px 100vh 0 var(--white)) drop-shadow(2px 2px 2px var(--dark));
    transform: translateY(-100vh);
}

.social-icon-small {
    height: min(48px, 7vh, 15vw);
    width: min(48px, 7vh, 15vw);
}

.email-button-wrapper {
    max-width: 120px;
}

.socialButtonGroup {
    display: flex;
}

.textLink {
    color: var(--white);
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
    font-weight: bold;
}
.horizontal-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.vertical-content {
    display: inline-flex;
    flex-direction: column;
}